doctype html
html
  block vars
    - var nav = 'home'
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul(class="#{nav}")
        li(class="#{nav === 'home' ? 'active' : ''}")
          a(href="/") Home 
        li(class="#{nav === 'xml2js' ? 'active' : ''}")
          a(href="/xml2js") xml2js 
        li(class="#{nav === 'libxmljs2' ? 'active' : ''}")
          a(href="/libxmljs2") libxmljs2 
        li(class="#{nav === 'cheerio' ? 'active' : ''}")
          a(href="/cheerio") cheerio 
        li(class="#{nav === 'svgson' ? 'active' : ''}")
          a(href="/svgson") svgson 
    header
      h1 Reading and Writing XML with Node.js
    main
      block content
    
